@charset "utf-8";
/* CSS Document */

/* Information
---------------------------------------------------------------------- */

.custom_nav_brand 
{
	font-family: 'Open Sans', serif;
	font-size: 2.5em;
	font-weight: bold;
}

.custom_nav_menu 
{
	font-family: 'Open Sans', serif;
}

.custom_headline_small 
{
	font-weight:normal;
	text-align:left;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.custom_headline_medium
{
	text-align:left;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.header 
{
	padding: 1rem;
	width: 960px;
	position: relative; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease;	
	background: #f2f2f2;
}

.papertitle 
{
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

.paperauthors 
{
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
}

.disclaimer 
{
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
}

/* Button
---------------------------------------------------------------------- */
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus 
{
    outline: none;
}

.btn 
{
    border: 0;
    border-radius: 2px;
    padding: 2px 6px;
    text-transform: uppercase;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.dl
{
    color: #f2f2f2;
    background-color: #e95a44;
    border: 1px solid transparent;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.pdf
{
    color: #f2f2f2;
    background-color: #000686;
    border: 1px solid transparent;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.video
{
    color: #f2f2f2;
    background-color: #1D5C00;
    border: 1px solid transparent;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.web
{
    color: #f2f2f2;
    background-color: #948100;
    border: 1px solid transparent;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.slide
{
    color: #f2f2f2;
    background-color: #000686;
    border: 1px solid transparent;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}